{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="main">
<form method="post" action="{% url 'account_logout' %}">
  <p>Are you sure you want to Logout?</p>
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="last">
  <button type="submit" class="OutBtn">{% trans 'Sign Out' %}</button>
  <a class="LoginBtn" href="{% url 'home'%}">No</a>
  </div>
</form>
</div>


{% endblock %}
